/* intro */
body {
    margin: 0;
    background-color: black;
}

/* backgroun */
.background {
    width: 100%;
    height: 100%;
}

/* isi konten */
.box {
    width: 400px;
    height: 300px;
    position: relative;
    margin: 100px auto;
    padding: 5px;
}

.box h1{
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    font-family: Helvetica;
    
}

.box h2 {
    color: white;
    text-align: center;
    font-weight: bold;
    font-family: Helvetica;
}

/* .box h1 h2 p {
    font-family: Helvetica;
} */

.box p{
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: Helvetica;
}
.box img{
    height: 100%;
    width: 80%;
    margin-left: 45px;
    
}

.tombol{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr ;
    column-gap: 1px;
    margin-left: 25px;
    
}

.yes, .no{
    width: 150px;
    height: 100px;
    background-color: white;
    border: 2px solid grey;
    font-family: Helvetica;
    border-radius: 30px;
    text-align: center;
    
}

.yes h3, .no h3{
    padding-top: 20px;
    color: black;

}

.yes:hover {
    background-color: green;
}

.no:hover{
    background-color: red;
}

.gambar{
    width: 95%;
    height: 100%;
}

.fv{
position: static;
color: white;
}

a:link{text-decoration: none;}

/*  */

/* index css */

/* main navbar */
.navigasi{
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: #2C3539;
    top:  0px;
    z-index: 5;
}

.LOGO, .home, .about{
    display: inline-block;
    height: 50px;
    padding: 20px 15px; 
    width: fit-content;
    background-color: #2C3539;
    color: white;
}

.fox{
    height: 62px;
    width: 62px;
    border-radius: 80%;
}

 .LOGO{
    margin-left: 20px;
    height: 50px;
    width: 65px;

} 

.home:hover, .about:hover{
    background-color: #0f4c75;
}

.group  {
    float: right;
}

/* background */

.textshadow{
    text-shadow: 1px 1px 1px black;
}

.vapeinfo{
    font-size: 20px;
    font-weight: lighter;
}
.gmbbn{
    position: fixed;
    width: 100%;
    height: 100%;    
    z-index: -1;
}

/* isi */
#header{
    background-image: url(img/smok.png);
    background-position: center;
    height: 500px;
    width: 80%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 0 auto;
    border-radius: 50px ;
    top: 125px;
}
#header h1 {
    position: relative;
    top: 80%;
    width: 30%;
    left: 10%;
    color: rgb(242, 162, 3);
    font-size: 55px;
    letter-spacing: 10;
}

.ket{
    width: 80%;
    height: 100%;
    background-color: rgba(44, 53, 57, 0.6);
    position: relative;
    top: 200px;
    margin: 0 auto;
    padding: 20px 25px;
}

.judulkonten{ 
    text-align: center;
    font-family: Helvetica;
    color: white;
}

.judulkonten p{
    text-align: justify;
}

.judulisikonten{
    text-align: center;
    font-family: Helvetica;
    color: white;
}

.konten{
    display: grid;
    position: relative;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    margin-bottom: 20px;
    /* margin-left: 25px; */
}

.isi{
    width: 80%;
    height: 450px;
    background-color: grey;
    border: 2px solid white;
    font-family: Helvetica;
    border-radius: 30px;
    color: white;
    text-align: center;
    margin: 0 auto;
    padding: 10px;
    box-shadow: 5px 5px 1px black;
}

.text{
    height: 184px;
    width: 100%;
    overflow: auto;
    text-align: justify;
}

.gambarisi{
    width: 100%;
    height: 30%;
    border-radius: 25px;
}



/* about */
.ketabout{
    width: 80%;
    height: 100%;
    background-color: rgba(44, 53, 57, 0.6);
    position: relative;
    top: 75px;
    margin: 0 auto;
}

.fox2{
    height: 250px;
    width: 200px;
}

.ket2{
    display: flex;
    padding: 20px 60px;
}

.info{
    width: 50%;
    padding: 5px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.logocp img{
    margin-top: 20px;
    padding: 5px 0 0 200px;
}

.visi{
    display: flex;
    padding: 100px 30px 0 750px;
    text-align: center;
    color: white;
   
}

.info p{
        text-align: justify;

}

.vcompany p {
    text-align: justify;
}

.misilist{
    text-align: justify;

}

.text::-webkit-scrollbar{
display: none;
}

.foot{
    top: 300px;
    position: relative;
    background-color: #2C3539;
    height: 50px;
    width: 100%;
}

a:link{
    text-decoration: none;
}

a{
    color: white;
}